<div class="generic-container">
	<div class="flex">
	  <h3>Available Currencies</h3>
	  <button class="btn btn-success bmargin" data-toggle="modal" data-target="#currencyModal">
	    Add Currency
	  </button>
	</div>

	<ul class="currencies">
	  <li *ngFor="let currency of currencies">
	    <a routerLink="/currency/{{currency.id}}">
	      <span class="badge">{{currency.sign}}</span> {{currency.name}}
	    </a>
	    <button class="delete" title="delete currency"
	    (click)="delete(currency)"><fa [name]="'trash'"></fa></button>
	  </li>
	</ul>
</div>

<!-- <div class="generic-container">
	<div class="flex">
	  <h3>Available Currencies</h3>
	  <button class="btn btn-success bmargin" data-toggle="modal" data-target="#currencyModal">
	    Add Currency
	  </button>
	</div>

	<ul class="currencies">
	  <li>
	    <a routerLink="/currency/1">
	      <span class="badge">$</span> Peso argentino
	    </a>
	    <button class="delete " title="delete currency"><fa [name]="'trash'"></fa></button>
	  </li>
	  <li>
	    <a>
	      <span class="badge">$</span> Peso argentino
	    </a>
	    <button class="delete " title="delete currency"><fa [name]="'trash'"></fa></button>
	  </li>
	  <li>
	    <a>
	      <span class="badge">$</span> Peso argentino
	    </a>
	    <button class="delete " title="delete currency"><fa [name]="'trash'"></fa></button>
	  </li>
	  <li>
	    <a>
	      <span class="badge">$</span> Peso argentino
	    </a>
	    <button class="delete " title="delete currency"><fa [name]="'trash'"></fa></button>
	  </li>
	  <li>
	    <a>
	      <span class="badge">$</span> Peso argentino
	    </a>
	    <button class="delete " title="delete currency"><fa [name]="'trash'"></fa></button>
	  </li>
	</ul>

</div> -->

<!-- popup add currency -->

<div class="modal fade" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="currencyModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4> New Currency </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	    <form>
	      <div class="form-group">
	        <label for="name" class="label-col">Name:</label>
	        <input #currencyName placeholder="new name" name="name">
	      </div>
	      <div class="form-group">
	        <label for="name" class="label-col">Sign:</label>
	        <input #currencySign placeholder="sign like $" name="symbol">
	      </div>
	    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mr-auto" (click)="add(currencyName.value, currencySign.value)">Submit</button>
      </div>
    </div>
  </div>
</div>