<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Currency Exchanger App </title>
  <base href="/">
  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="48x48" />
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

</head>
<body>
  	<app-root></app-root>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/inline.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/polyfills.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/scripts.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/styles.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/vendor.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'client/currency-exchanger/dist/main.bundle.js'%}"></script>
</body>
</html>