<div class="generic-container">
	<div class="flex">
	  <h3><span class="user">{{user | uppercase}}</span> Wallets</h3>
	  <button class="btn btn-success bmargin" data-toggle="modal" data-target="#walletModal" id="newWallet">
	    Add Wallet
	  </button>
	</div>

	<ul class="wallets">
	  <li *ngFor="let wallet of wallets">
	    <a href="">
	      <span class="badge">{{wallet.currency.sign}}</span> {{wallet.balance}}
	    </a>
	    <button class="delete " title="Delete Wallet" (click)="delete(wallet)"><fa [name]="'trash'"></fa></button>
	  </li>
	</ul>
</div>

<!-- <div class="generic-container">
	<div class="flex">
	  <h3><span class="user">Emi's</span> Wallets</h3>
	  <button class="btn btn-success bmargin" data-toggle="modal" data-target="#walletModal">
	    Add Wallet
	  </button>
	</div>

	<ul class="wallets">
	  <li>
	    <a routerLink="/currency/1">
	      <span class="badge">$</span> 100
	    </a>
	    <button class="delete " title="Delete Currency" (click)="delete(currency)"><fa [name]="'trash'"></fa></button>
	  </li>
	  <li>
	    <a>
	      <span class="badge">U$S</span> 80
	    </a>
	    <button class="delete " title="Delete Currency" (click)="delete(currency)"><fa [name]="'trash'"></fa></button>
	  </li>
	</ul>

</div> -->

<!-- popup add wallet -->

<!-- <div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4> New Wallet </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	    <form>
          <div class="form-group">
            <label for="currency">Currency</label>
            <select #walletCurrency class="form-control" [(ngModel)]="selectedCurrency" name="selectedCurrency">
              <option [ngValue]="currency">Peso Argentino</option>
              <option [ngValue]="currency">Dolar</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mr-auto" (click)="add()">Submit</button>
      </div>
    </div>
  </div>
</div> -->



<div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="walletModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4> New Wallet </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	    <form>
          <div class="form-group">
            <label for="currency">Currency</label>
            <select #walletCurrency class="form-control" [(ngModel)]="selectedCurrency" name="selectedCurrency">
              <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency.name}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary mr-auto" (click)="add()">Submit</button>
      </div>
    </div>
  </div>
</div>